*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
height: 100vh;
position: relative;
background:rgb(248, 231, 76);
}
.container {
position: absolute;
top: 50%;
Left: 50%;
transform: translate (-50%, -50%);
height: 50px;
}
.container.togg